.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  font-size: 20px;
}
.about-welcome {
  min-width: 100%;
  max-width: 100%;
  position: relative;

    img {

      display: block;
      min-width: 100%;
      max-width: 100%;
      object-fit: initial;
      object-position: initial;
    }
    h2 {
      font-size: 40px;
    }
    p {
      position: absolute;
      top: 20%;
      min-width: 36%;
      max-width: 36%;
      margin: 0 auto;
      padding: 40px 20px;
      font-size: 22px;
      text-align: center;
      font-size: 1.5vw;
      // background: linear-gradient(0.25turn, #d9d9f3, #ceefe4, #9dd3a8);
    }
}
.about-team {
  .team-description {
    min-width: 80%;
    max-width: 80%;
    margin: 0 auto;
  }
}

.about-technology {
  margin-bottom: 20px;
}

.about-team,
.about-project,
.about-technology {
  min-width: 100%;
  max-width: 100%;
  h2 {
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.project-info {
  h4 {
    font-style: oblique;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.project-info,
.technology-info {
  min-width: 80%;
  max-width: 80%;
  margin: 0 auto;
}


