.main-nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  & > ul {
    margin: auto;
    display: flex;
    gap: 50px;
    & > li {
      text-align: center;
      min-width: 70px;
      margin: 0 auto;
      list-style-type: none;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.link-active {
  text-decoration: underline;
}

@media screen and (min-width: 350px) and (max-width: 768px) {
  .main-nav {
    & > ul {
      gap: 20px;
    }
  }
}