nav {
  display: flex;
  background-color: rgb(207, 194, 173);
  height: 40px;
  & > ul {
    margin: auto;
    display: flex;
    gap: 50px;
    & > li {
      text-align: center;
      min-width: 70px;
      margin: 0 auto;
      list-style-type: none;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
