.product-page-container {
  display: flex;
  width: 100%;
}

.product-images-container {
  width: calc(100% / 9 * 5);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-slider {
  display: flex;
  flex-direction: column;
  max-width: 18%;
  height: 80%;
  gap: 5px;
  justify-content: center;
  & > img {
    max-height: calc((100% - 20px) / 5);
    &:hover {
      cursor: pointer;
    }
  }
}

.big-image {
  display: flex;
  align-items: center;
  width: 72%;
  & > img {
    width: 100%;
  }
}

.product-info-container {
  width: calc(100% / 9 * 4 - 4%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.product-description {
  display: flex;
  gap: 30px;
}

.product-description-name,
.product-description-value {
  display: flex;
  flex-direction: column;
}

.add-to-cart {
}
