.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  min-height: calc(100vh - 40px - max(60px, 10vh) - max(60px, 10vh));
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
