.search {
  position: relative;
  width: 50%;
  & > input {
    width: 100%;
    height: 50px;
    padding: 10px 50px;
    border-radius: 25px;
    border: 2px solid rgba($color: #000000, $alpha: 0.3);
  }
}

#search_btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  height: 30px;
  width: 30px;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
