.sort-plus-products {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px;
}

.cards-container {
  display: grid;
  grid-auto-columns: min-content;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 20px;
}
