.main-header {
  height: 70px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  background-color: rgb(39, 39, 39);
}

.logo {
  height: 50px;
  width: auto;
  & * {
    height: 100%;
    width: 100%;
  }
  & img {
    border-radius: 5px;
  }
}

.login {
  color: white;
}
