header {
  height: 70px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center; 
  background-color: rgb(39, 39, 39); 
}

.logo {
  height: 50px;
  width: auto;
  & * {
    height: 100%;
    width: 100%;
  }
  & img {
    border-radius: 5px;
  }
}

.login,
.lang,
.cart {
  color: white;
  font-size: 20px;
}

.cart {
  position: relative;
}

.badge-circle {
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: white;
  color: black;
  position: absolute;
  top: -22px;
  right: -4px;
  transform: translate(25%, 25%);
  text-align: center;
}
